<h1>GGPardy</h1>

<app-team-setup
  (teamCount)="teamCountUpdate($event)"
  *ngIf="!teams.length"
></app-team-setup>

<div class="game" *ngIf="teams.length">
  <div class="categories-container carter-one-regular">
    <div class="category" *ngFor="let category of categories">
      <h2>{{ category.name }}</h2>
      <div class="question" *ngFor="let question of category.questions">
        <div
          (click)="selectQuestion(question)"
          class="question-button"
          [ngClass]="{
            isAnswered: question.isAnswered,
            selected: question.isSelected,
          }"
        >
          {{ question.value }}
        </div>
      </div>
    </div>
  </div>

  <div class="backdrop" *ngIf="selectedQuestion" (click)="unselectAll()"></div>

  <div
    class="selected-question-container carter-one-regular"
    [ngClass]="{ clicked: questionClicked }"
    *ngIf="selectedQuestion"
  >
    <div class="timer-container" *ngIf="!timeUp">
      <div class="question-info">
        {{ selectedCategory }} {{ selectedQuestion.value }}
      </div>
      <img
        *ngIf="!isAnswerShown"
        class="hourglass"
        src="assets/hourglass.gif"
        alt=""
      />
      <div *ngIf="!isAnswerShown" class="timer">{{ timer }}</div>
    </div>
    <div class="timeup" *ngIf="timeUp && !isAnswerShown">
      ¡SE ACABÓ EL TIEMPO!
    </div>
    <div class="question-text">{{ selectedQuestion.question }}</div>
    <div class="answer" *ngIf="isAnswerShown">
      {{ selectedQuestion.answer }}
    </div>

    <div class="button-container">
      <div
        class="show-answer-button"
        *ngIf="!isAnswerShown"
        (click)="showAnswer()"
      >
        Ver Respuesta
      </div>

      <div class="show-answer-button" (click)="unselectAll()">Cerrar</div>
    </div>
  </div>
</div>

<div class="teams-container">
  <app-team-card [team]="t" *ngFor="let t of teams"></app-team-card>
</div>
